<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: 'aa71666defbb191d5311',
  clientSecret: '5f859a84c16713f31688c23cf61b43ad17836a3a',
  repo: 'penghuima.github.io',
  owner: 'penghuima',
  admin: ['penghuima'],
  language :'zh-CN',
  //id: location.pathname,//(location.pathname).split("/").pop().substring(0, 49),      // Ensure uniqueness and length less than 50  这样处理貌似还是会出错...
  id: '{{ location.pathname | truncate: 50, '' }}'
  distractionFreeMode: true  // 貌似可以阻挡在每个博客评论区看到别的博客评论区的内容
 // createIssueManually: true
})

gitalk.render('gitalk-container')
</script>
